{% load static %}


<nav class="navbar navbar-expand-lg bg-light">


	{#	Small Screen Logo#}
	<a class="d-block  d-md-none d-sm-flex ms-auto me-auto" href="{% url 'productos:home' %}">
		<img class="" src="{% static 'img/logo.png' %}" id="logo" alt="logo">
	</a>


	<div class="container-fluid">
		<button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent"
		        aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
				<li class="nav-item p-2">
					<a class="nav-link" aria-current="page" href="{% url 'productos:categoria-hombres' %}">Hombres</a>
				</li>
				<li class="nav-item p-2">
					<a class="nav-link" href="{% url 'productos:categoria-mujeres' %}">Mujeres</a>
				</li>
				<li class="nav-item p-2">
					<a class="nav-link" href="{% url 'productos:categoria-ninos' %}">Niños</a>
				</li>


			</ul>
			<a class="d-flex me-auto d-none d-lg-block" href="{% url 'productos:home' %}">
				<img class="" src="{% static 'img/logo.png' %}" id="logo" alt="logo">
			</a>


			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
				<button class="btn" type="submit">
					<ion-icon name="search-outline"></ion-icon>
				</button>

			</form>


			{#		User Menu#}
			{% if user.is_authenticated and not user.is_superuser %}
				<a href="{% url 'usuarios:ver-datos' %}" class="d-block my-sm-3 btn shadow-none ms-3" id="btn-login">Mis Datos</a>
			{% endif %}


			{% if not user.is_superuser %}
				<a href="{% url 'contacto:contacto' %}" class="d-block my-sm-3 btn shadow-none ms-3" id="btn-login">Contacto</a>
			{% endif %}

			{#		Admin menu  #}
			{% if user.is_superuser %}
				<a href="{% url 'productos:agregar-producto' %}" class="d-block my-sm-3 btn shadow-none ms-3 mx-2" id="btn-login">Agregar
					Producto</a>
				<p class="bg-danger">Permiso de administrador</p>
			{% endif %}
			{% if not user.is_authenticated %}
				<a href="{% url 'usuarios:login' %}" class="d-block my-sm-3 btn shadow-none ms-3" id="btn-login">Login</a>
			{% endif %}
			{% if user.is_authenticated %}
				<a href="{% url 'usuarios:logout' %}" class="d-block my-sm-3 btn shadow-none ms-3" id="btn-login">Logout</a>
			{% endif %}


		</div>
	</div>
</nav>


{#<nav class="navbar navbar-expand-lg bg-light">#}
{#	<div class="container-fluid">#}
{#		<a class="navbar-brand" href="#">Navbar</a>#}
{#		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"#}
{#		        aria-expanded="false" aria-label="Toggle navigation">#}
{#			<span class="navbar-toggler-icon"></span>#}
{#		</button>#}
{#		<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#			<ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#				<li class="nav-item">#}
{#					<a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#				</li>#}
{#				<li class="nav-item">#}
{#					<a class="nav-link" href="#">Link</a>#}
{#				</li>#}
{#				<li class="nav-item dropdown">#}
{#					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#						Dropdown#}
{#					</a>#}
{#					<ul class="dropdown-menu">#}
{#						<li><a class="dropdown-item" href="#">Action</a></li>#}
{#						<li><a class="dropdown-item" href="#">Another action</a></li>#}
{#						<li>#}
{#							<hr class="dropdown-divider">#}
{#						</li>#}
{#						<li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#					</ul>#}
{#				</li>#}
{#				<li class="nav-item">#}
{#					<a class="nav-link disabled">Disabled</a>#}
{#				</li>#}
{#			</ul>#}
{#			<form class="d-flex" role="search">#}
{#				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#				<button class="btn btn-outline-success" type="submit">Search</button>#}
{#			</form>#}
{#		</div>#}
{#	</div>#}
{#</nav>#}