{% extends 'base/layout.html' %}
{% load static %}



{% block inner_content %}
	
	{% include 'base/modules/navbar.html' %}
	
	<h1 class="text-center pt-4" id="title-categories">Hombres</h1>
	{% for producto in productos %}
		<img src="/media/{{ producto }}" alt="producto">

	{% endfor %}
	
	
		<div class="container text-center pt-5">
		<div class="row">

			{% for producto in productos %}
				<div class="col">
					<img src="{{ producto.imagen }}" alt="producto">

				</div>
			{% endfor %}


		</div>
	</div>

{% endblock %}