{% extends 'base/layout.html' %}

{% block inner_content %}

		{% include 'base/modules/navbar.html' %}


{# CAROUSEL #}
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/main-img-1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>


{# CAROUSEL #}





{% endblock %}