{% extends 'base/layout.html' %}
{% load static %}



{% block inner_content %}
	<a class="d-block text-center pt-5" href="{% url 'productos:home' %}">
		<img class="" src="{% static 'img/logo.png' %}" id="logo" alt="logo">
	</a>
	<h1 id="login-title" class="text-center pt-3">REGISTRAR</h1>

	<div class="d-flex justify-content-center pt-2">

		<form method="post" class="w-25 text-center">{% csrf_token %}
			<label for="username" class="form-label">{{ form.username.label }}</label>
			{{ form.username }}

			{{ form.email.label }}
			{{ form.email }}

			{{ form.password1.label }}
			{{ form.password1 }}

			{{ form.password2.label }}
			{{ form.password2 }}


			<button>Registrarse</button>


		</form>
	</div>


{% endblock %}



